@import 'variables.less';
@import 'mixin.less';
@import 'extend.less';
@import 'transition.less';
@import 'theme.less';
@import 'iview/dist/styles/iview.css';
@import 'vuetify/dist/vuetify.min.css';
//@import './sidebar.less';
@import 'grid.less';
body {
  height: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
  box-sizing: border-box;
}

label {
  font-weight: 700;
}

html {
  height: 100%;
  box-sizing: border-box;
  overflow: hidden;
}

#app{
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  outline: none;
  text-decoration: none;
}

div:focus{
  outline: none;
 }

a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

.clearfix {
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
}

//main-container全局样式
.app-main{
  min-height: 100%
}

.app-container {
  padding: 20px;
}
//overide vuetify
  &.navigation-drawer--mini-variant {
    .my-text {
      display: none;
    }
    .my-content-number{
      display: none;
    }

}
.ivu-menu-item-selected{
  .my-content{
      .icon-shadow{
        box-shadow: none;
      }

  }

}
